
$aPeriod: 60s;

$bgOpacity: 0.5;
$cOpacity: 1.0;
$aMin: 130;
$aMax: 200;

$cC: -30;

$bca0: rgba($aMin, $aMin, $aMax, $bgOpacity);
$bca1: rgba($aMin, $aMax, $aMin, $bgOpacity);
$bca2: rgba($aMax, $aMin, $aMin, $bgOpacity);

$ca0: rgba($aMin + $cC, $aMin + $cC, $aMax + $cC, $cOpacity);
$ca1: rgba($aMin + $cC, $aMax + $cC, $aMin + $cC, $cOpacity);
$ca2: rgba($aMax + $cC, $aMin + $cC, $aMin + $cC, $cOpacity);

body {
    font-family: "DejaVu Sans", Arial;
    font-size: 12px;
}



.knotiler {
    .tile {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        border: 1px solid transparent;
        box-sizing: border-box;
        .bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
           
            height: 100%;
        }
        .con {
            background-color: #fff;
            border: 1px solid transparent;
            box-sizing: border-box;
            width: 100%;
            position: relative;
            .text {
                max-width: 640px;
                margin: 0 auto;
                padding: 0px 8px;
                border-left: 1px dashed #444;
                border-right: 1px dashed #444;
                a {
                    outline: none;
                    text-decoration: underline;
                    text-decoration-style: dotted;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-style: solid;
                    }
                    &.link {
                        color: black;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-style: solid;
                        }
                    }
                }
            }
        }
        .pointer {
            position: relative;
            top: 0;
            width: 0;
            height: 0;
            border-bottom: 16px solid #ffe;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-top: 16px solid transparent;
            margin-bottom: -32px;
            top: -32px;
        }
    }
    
    .bgColorRand {
      -webkit-animation: bgColorRand1-animation $aPeriod infinite;  /* Safari 4+ */
      -moz-animation: bgColorRand1-animation $aPeriod infinite;  /* Fx 5+ */
      -o-animation: bgColorRand1-animation $aPeriod infinite;  /* Opera 12+ */
      animation: bgColorRand1-animation $aPeriod infinite;  /* IE 10+, Fx 29+ */
    }
    .colorRand {
      -webkit-animation: colorRand1-animation $aPeriod infinite;  /* Safari 4+ */
      -moz-animation: colorRand1-animation $aPeriod infinite;  /* Fx 5+ */
      -o-animation: colorRand1-animation $aPeriod infinite;  /* Opera 12+ */
      animation: colorRand1-animation $aPeriod infinite;  /* IE 10+, Fx 29+ */
    }
    @-webkit-keyframes bgColorRand1-animation {
          0%   {background: $bca0; }
          33%  {background: $bca1; }
          67%  {background: $bca2; }
          100%   {background: $bca0; }
    }
    @-webkit-keyframes colorRand1-animation {
          0%   {color: $ca0; }
          33%  {color: $ca1; }
          67%  {color: $ca2; }
          100%   {color: $ca0; }
    }
}


