<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ChangeIsComing</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="block ha-center logo">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="block ha-center header">
            <h1>
                Your design world is about to
                <span class="rl"><span>change</span></span>.
            </h1>
        </div>
        <div class="block ha-center form">
            <div class="form">
                <div class="q">Want to know when we’ll be available?</div>
                <div class="input">
                    <input placeholder="Your E-mail ..." type="text" name="" id="">
                    <button></button>
                </div>

                <div class="i">Your e-mail is safe.</div>
            </div>
        </div>
        <div class="block ha-center social"><a href="">Follow us on Twitter</a></div>
    </div>
</body>

</html>