<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ChangeIsComing</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="block ha-center logo">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="block ha-center header">
            <h1>
                Your design world is about to
                <span class="rl"><span>change</span></span>.
            </h1>
        </div>
        <div class="block ha-center form">
            <div class="form">
                <div class="q">Want to know when we’ll be available?</div>
                <div class="input">
                    <input placeholder="Your E-mail ..." type="text" name="" id="">
                    <button></button>
                </div>

                <div class="i">Your e-mail is safe.</div>
            </div>
        </div>
        <div class="block ha-center social"><a href="">Follow us on Twitter</a></div>
    </div>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46467636 = new Ya.Metrika({ id:46467636, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46467636" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>

</html>
